<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
This code is licensed under the GPL 2.0 license, available at the root
application directory.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    
    <!--GeoPackageModuleStatus provides an entry in the "Server Status" > "Modules" page-->
    <bean class="gov.nasa.worldwind.gs.geopkg.GeoPackageModuleStatus"/>  
      
    <bean id="GeoPackageGetMapOutputFormat" class="gov.nasa.worldwind.gs.geopkg.GeoPackageGetMapOutputFormat">
        <constructor-arg ref="webMapService" />
        <constructor-arg ref="wms" />
        <constructor-arg ref="gwcFacade" />
    </bean>
    
    <bean id="GeoPackageGetFeatureOutputFormat" class="gov.nasa.worldwind.gs.geopkg.GeoPackageGetFeatureOutputFormat">
        <constructor-arg ref="geoServer" />
    </bean>
    
    <bean id="GeoPackageProcess" class="gov.nasa.worldwind.gs.geopkg.wps.GeoPackageProcess">
        <constructor-arg index="0" ref="geoServer"/>
        <constructor-arg index="1" ref="GeoPackageGetMapOutputFormat" />
        <constructor-arg index="2" ref="wpsResourceManager"/>
        <constructor-arg index="3" ref="filterFactory"/>
    </bean>
    
    <!--    
    Depends on the wpsXmlConfiguration-1.0.0 WPSConfiguration object registered in  
    the wps-core module to execute WPS requests.
    -->
    <bean id="GeoPackageProcessRequestPPIO" class="gov.nasa.worldwind.gs.geopkg.wps.GeoPackageProcessRequestPPIO" >
        <constructor-arg index="0" ref="entityResolverProvider"/>
        <constructor-arg index="1" ref="wpsXmlConfiguration-1.0.0" />
    </bean>
    
    <bean id="GeoPackageDataStoreFactoryInitializer" class="gov.nasa.worldwind.gs.geopkg.GeoPkgDataStoreFactoryInitializer">
        <property name="resourceLoader" ref="resourceLoader"/>
    </bean>
    
    <!--UI Component for browsing to a GeoPackage file-->
    <bean id="GeoPackageDataStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="gpkgRaster"/>
        <property name="factoryClass" value="gov.nasa.worldwind.geopkg.mosaic.GeoPackageFormat"/>
        <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
        <property name="icon" value="img/icons/geosilk/page_white_raster.png"/>
        <property name="componentClass" value="gov.nasa.worldwind.gs.geopkg.GeoPackageRasterEditPanel"/>
    </bean>
</beans>
