*.db
.project
.classpath
.settings
.settings/*
target
*.patch
*.class
*.pyc
*.*~
*.iml
.idea/
nb-configuration.xml
nbactions.xml
/worldwind-gt-geopkg/nbproject/
/worldwind-gs-geopkg/nbproject/
/worldwind-gs-wms/nbproject/
/worldwind-gt-geopkg/src/test/resources/gov/nasa/worldwind/geopkg/mosaic/ERDC_Whitehorse_GeoPackage.gpkg
/worldwind-gs-geopkg/src/test/resources/gov/nasa/worldwind/gs/geopkg/agc-JOG(1).jpg
/worldwind-gs-geopkg/src/test/resources/gov/nasa/worldwind/gs/geopkg/jog.gpkg
/worldwind-gs-geopkg/src/test/resources/gov/nasa/worldwind/gs/geopkg/agc-JOG.jpg
/worldwind-gs-geopkg/src/test/resources/gov/nasa/worldwind/gs/geopkg/jog.png
/worldwind-geoserver/*.log
/data_config/ssgf/workspaces/agc/AGC_TLM50_FtBelvoir_11_14_17JAN2017/
/data_config/ssgf/workspaces/agc/AGC_JOG_DMV_8_11_17JAN2017/
/data_config/ssgf/workspaces/agc/AGC_BUCK_FtBelvoir_16_19_23DEC2016/
/data_config/ssgf/workspaces/agc/AGC_GGDM_Hayfield_19JAN2017/
/data_config/ssgf/workspaces/agc/AGC_NITF_DC_15_18_17JAN2017/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R2C3_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R3C2_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R3C2_P2_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R4C1_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R3C1_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R2C2_14_17_22NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R2C2_P2_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R4C3_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R5C2_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R4C2_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R2C1_14_17_22NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R4C2_14_17_P2_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R3C3_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/AGC_DG_APG_R5C3_14_17_23NOV2016/
/data_config/ssgf/workspaces/agc/layergroups/
/data_config/ssgf/coverages/
/data_config/ssgf/data/agc/
/worldwind-gs-example/
/wps_request.xml
/wcs_request.txt
/wps_output.txt
/jmeter/JMeter.lnk
/jmeter/jmeter.log
/jmeter/wcs_test/output/
/jmeter/wms_test/output/
/jmeter/functional_test/output/
/dist/
/worldwind-geoserver-dist/pom.xml.versionsBackup
/worldwind-gt-geopkg/pom.xml.versionsBackup
/worldwind-gs-geopkg/pom.xml.versionsBackup
/worldwind-gs-wms/pom.xml.versionsBackup
/worldwind-geoserver/pom.xml.versionsBackup
/pom.xml.versionsBackup
/worldwind-geoserver/src/test/data_dir/logs/geoserver.log
/worldwind-geoserver/src/test/data_dir/logs/geoserver.log.*
/archive/
/worldwind-gs-web/pom.xml.versionsBackup
/worldwind-geoserver/src/main/webapp/data/www/