<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
This code is licensed under the GPL 2.0 license, available at the root
application directory.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
    <!-- ProxyGetMapCallback is a GetMapCallback extension point -->
    <bean id="dummyProxyCallback" class="gov.nasa.worldwind.gs.wms.DelegatingGetMapCallback">    
        <constructor-arg>
            <description>The dummy layer to be replaced by the delegate</description>
            <value>dummy-layer</value>
        </constructor-arg>
        <constructor-arg>
            <description>The name of the delegated layer/group to replace the dummy layer</description>
            <value>actual-layer-group</value>
        </constructor-arg>
    </bean>

    <!--WmsModuleStatus provides an entry in the "Server Status" > "Modules" page-->
    <bean class="gov.nasa.worldwind.gs.wms.map.WmsModuleStatus"/>  
        
    <bean id="PNGMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/png</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/png</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="png"/>
    </bean>
    
    <bean id="PNG8MapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/png; mode=8bit</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/png8</value>
                <value>image/png; mode=8bit</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="png"/>
    </bean>

    <bean id="GeoTiffMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/geotiff</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/geotiff</value>
            </list>
        </constructor-arg>
        <property name="extension" value="tif"/>
        <constructor-arg ref="wms" />
    </bean>
    
    <bean id="GeoTiffMapProducer8" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/geotiff8</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/geotiff8</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="tif"/>
    </bean>

    <bean id="TiffMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/tiff</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/tiff</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="tif"/>
    </bean>
    
    <bean id="Tiff8MapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type</description>
            <value>image/tiff8</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/tiff8</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="tif"/>
    </bean>
  
    <bean id="GIFMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type, same as declared in the getcaps document</description>
            <value>image/gif</value>
        </constructor-arg>
        <constructor-arg>
            <description>The declared output format MIME-Types in the capabilities document</description>
            <list>
                <value>image/gif</value>
                <value>image/gif;subtype=animated</value>
            </list>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="extension" value="gif"/>
    </bean>
  
    <bean id="JPEGMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type, same as declared in the getcaps document</description>
            <value>image/jpeg</value>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="transparencySupported">
            <description>JPEG does not support transparency</description>
            <value>false</value>
        </property>
        <property name="paletteSupported">
            <description>JPEG does not support 8-bit indexed color maps</description>
            <value>false</value>
        </property>
        <property name="extension" value="jpg"/>
    </bean>

    <bean id="JpegPngMapProducer" class="gov.nasa.worldwind.gs.wms.map.CustomRenderedImageMapOutputFormat">
        <constructor-arg>
            <description>The prescribed output format MIME-Type, same as declared in the getcaps document</description>
            <value>image/vnd.jpeg-png</value>
        </constructor-arg>
        <constructor-arg ref="wms" />
        <property name="transparencySupported">
            <description>JPEG-PNG does support transparency</description>
            <value>true</value>
        </property>
        <property name="paletteSupported">
            <description>JPEG-PNG does support 8-bit indexed color maps</description>
            <value>true</value>
        </property>
        <!-- The extension is actually dynamically determined -->
        <property name="extension" value="jpg-png"/>
    </bean>

                    
</beans>
