[Unit]
Description=SSGF test GeoServer

[Service]
ExecStart=/opt/maps/ssgf/run.sh
ExecStop=ls
WorkingDirectory=/opt/maps/ssgf

[Install]
WantedBy=multi-user.target


