<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- 
    Define the WWSK menu category. 
    Menu menu cateory's text is set in the GeoServerApplication.properties file.
    GeoServer's menu categories are defined in it's Core UI Module applicationContext.xml
    -->
    <bean id="wwskCategory" class="org.geoserver.web.Category">
        <property name="nameKey" value="category.wwsk" />
        <property name="order" value="200" />
    </bean>

</beans>
