<div id="markers" class="tab-pane" role="tabpanel">
    <!-- Markers View (bound to MarkersViewModel) -->
    <div class="section-heading">
        <h4 class="sub-header">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"
                  style="padding-right:5px;"></span>
            Markers
            <a class="section-toggle" data-toggle="collapse" href="#markers-body"></a>
        </h4>
    </div>
    <div id="markers-body" class="section-body collapse in">
    </div>
</div>
