<div id="settings" class="tab-pane" role="tabpanel">
    <!--
    Settings tab (bound to SettingsViewModel)
    -->      
    <div class="section-heading">
        <h4 class="sub-header">
            <span class="glyphicon glyphicon-cog" aria-hidden="true" style="padding-right:5px;"></span>
            Settings
            <a class="section-toggle" data-toggle="collapse" href="#settings-body"></a>
        </h4>
    </div>
    <div id="settings-body" class="section-body collapse in">
        <!--Display settings-->
        <div class="panel panel-default">
            <div class="panel-heading">Display Settings</div>
            <div class="panel-body">
                <div class="radio">
                    <label>
                        <input type="radio" name="optBackground" value="blue" data-bind="checked: backgroundColor">
                        Blue Background
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optBackground" value="black" data-bind="checked: backgroundColor">
                        Black Background
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: starsBackgroundEnabled">
                        Show Stars
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: atmosphereBackgroundEnabled">
                        Show Atmosphere
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: dayNightEnabled">
                        Enable Day/Night
                    </label>
                </div>
                <div>
                    Night Image:
                    <div>
                        <span class="pull-left"><i>Light</i></span>
                        <span class="pull-right"><i>Dark</i></span>
                    </div>
                    <br/>
                    <!--JQuery UI slider - created by custom Knockout binding (see main.js)-->
                    <div id="night-opacity-slider" 
                         data-bind="slider: nightOpacity, sliderOptions: {animate: 'fast', min: 0, max: 1, orientation: 'horizontal', step: 0.05}">
                    </div>
                </div>       
            </div>            
        </div>
        <!--Date/Time-->
        <div class="panel panel-default">
            <div class="panel-heading">Date/Time Settings</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: use24Time">
                        Use 24 Time
                    </label>
                </div>                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: timeZoneDetectEnabled">
                        Auto Detect Time Zone
                    </label>
                </div>
                <div>
                    Time Zones:
                    <div>
                        <span class="pull-left"><i>Transparent</i></span>
                        <span class="pull-right"><i>Opaque</i></span>
                    </div>
                    <br/>
                    <!--JQuery UI slider - created by custom Knockout binding (see main.js)-->
                    <div id="night-opacity-slider" 
                         data-bind="slider: timeZonesOpacity, sliderOptions: {animate: 'fast', min: 0, max: 1, orientation: 'horizontal', step: 0.05}">
                    </div>
                </div>                 
            </div>
        </div>
        <!--Overlays-->
        <div class="panel panel-default">
            <div class="panel-heading">Overlay Settings</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: viewControlsEnabled">
                        Show View Controls
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: widgetsEnabled">
                        Show Time & Location Widgets
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: crosshairsEnabled">
                        Show Crosshairs
                    </label>
                </div>
            </div>
        </div>        
        <!--Debugging-->
        <div class="panel panel-default">
            <div class="panel-heading">Debugging</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: tessellationEnabled">
                        Show Globe Tessellation
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: frameStatisticsEnabled">
                        Show Frame Statistics
                    </label>
                </div>
            </div>
        </div>        
    </div>
</div>  
